# CI test profile defaults.
CONFIG_GSM4_BUILD_PROFILE_CI_TEST=y
CONFIG_GSM4_TEST_HARNESS_MODE=y
CONFIG_GSM4_SERIAL_DEBUG_ENABLED=y

CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y
CONFIG_LOG_MAXIMUM_LEVEL=4
